Repository Recipe-Web-App/recipe-management-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, java, tests, database, api, service, repository, dto, entity, mapper, security, config, scripts, kubernetes

chore: enhanced makefile commands
  Makefile
Labels: none

chore: enhanced makefile commands (#156)
  Makefile
Labels: none

docs(trending-collections): added get-trending-collections endpoint to open api specification
  docs/openapi.yaml
Labels: documentation, configuration, kubernetes

chore(trending-collections): added trending query to collection repository
  src/main/java/com/recipe_manager/repository/collection/RecipeCollectionRepository.java
  src/test/unit/java/com/recipe_manager/repository/collection/RecipeCollectionRepositoryTest.java
Labels: java, tests, repository

feat(trending-collections): added controller & service layer for trending collections
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetTrendingCollectionsTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service

test(trending-collections): tests for get trending collections
  src/test/dependency/java/com/recipe_manager/dependency_tests/CollectionKarateRunner.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/collection/get-trending-collections.feature
  src/test/performance/resources/get-trending-collections-performance.jmx
Labels: java, tests

Add trending collections (#157)
  docs/openapi.yaml
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/repository/collection/RecipeCollectionRepository.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetTrendingCollectionsTest.java
  src/test/dependency/java/com/recipe_manager/dependency_tests/CollectionKarateRunner.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/collection/get-trending-collections.feature
  src/test/performance/resources/get-trending-collections-performance.jmx
  src/test/unit/java/com/recipe_manager/repository/collection/RecipeCollectionRepositoryTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: documentation, configuration, java, tests, api, service, repository, kubernetes

docs(collection-tags): updated openapi spec to support collection tags
  docs/openapi.yaml
Labels: documentation, configuration, kubernetes

chore(collection-tags): updated models & repositories to support collection tags
  src/main/java/com/recipe_manager/model/dto/collection/CollectionTagDto.java
  src/main/java/com/recipe_manager/model/entity/collection/CollectionTag.java
  src/main/java/com/recipe_manager/model/entity/collection/RecipeCollection.java
  src/main/java/com/recipe_manager/model/mapper/CollectionTagMapper.java
  src/main/java/com/recipe_manager/model/mapper/RecipeCollectionMapper.java
  src/main/java/com/recipe_manager/repository/collection/CollectionTagRepository.java
  src/test/unit/java/com/recipe_manager/model/dto/collection/CollectionTagDtoTest.java
  src/test/unit/java/com/recipe_manager/model/entity/collection/CollectionTagTest.java
  src/test/unit/java/com/recipe_manager/model/entity/collection/RecipeCollectionTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/CollectionTagMapperTest.java
  src/test/unit/java/com/recipe_manager/repository/collection/CollectionTagRepositoryTest.java
Labels: java, tests, repository, dto, entity, mapper

chore(collection-tags): added response dto to support collection tags
  src/main/java/com/recipe_manager/model/dto/response/CollectionTagResponse.java
  src/test/unit/java/com/recipe_manager/model/dto/response/CollectionTagResponseTest.java
Labels: java, tests, dto

feat(collection-tags): updated service & controller to support collection tags
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/service/CollectionTagService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddRecipeToCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/CreateCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/DeleteCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollaboratorsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionByIdTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetTrendingCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveRecipeFromCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/ReorderRecipesTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/SearchCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/UpdateCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/UpdateRecipeOrderTest.java
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionTagServiceTest.java
Labels: java, tests, api, service

feat(collection-tags): updated create-collection to support collection tags
  src/main/java/com/recipe_manager/model/dto/request/CreateCollectionRequest.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddRecipeToCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/CreateCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/DeleteCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollaboratorsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionByIdTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetTrendingCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveRecipeFromCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/ReorderRecipesTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/SearchCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/UpdateCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/UpdateRecipeOrderTest.java
  src/test/component/java/com/recipe_manager/component_tests/user_service/GetMyCollectionsComponentTest.java
  src/test/unit/java/com/recipe_manager/model/dto/request/CreateCollectionRequestTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, service, dto

feat(collection-tags): updated get-collection to support collection tags
  src/main/java/com/recipe_manager/model/dto/response/CollectionDetailsDto.java
  src/main/java/com/recipe_manager/model/mapper/CollectionMapper.java
  src/main/java/com/recipe_manager/repository/collection/RecipeCollectionRepository.java
  src/test/unit/java/com/recipe_manager/model/dto/response/CollectionDetailsDtoTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/CollectionMapperTest.java
Labels: java, tests, repository, dto, mapper

test(collection-tags): added dependency & performance tests for collection tag endpoints
  src/test/dependency/java/com/recipe_manager/dependency_tests/CollectionKarateRunner.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/collection/collection-tags.feature
  src/test/performance/resources/add-collection-tag-performance.jmx
  src/test/performance/resources/get-collection-tags-performance.jmx
  src/test/performance/resources/remove-collection-tag-performance.jmx
Labels: java, tests

docs(collection-tags): updated openapi spec to align with implementation
  docs/openapi.yaml
Labels: documentation, configuration, kubernetes

docs(collection-tags): updated openapi spec to align with implementation (#159)
  docs/openapi.yaml
Labels: documentation, configuration, kubernetes

docs: updated claude.md
  CLAUDE.md
Labels: documentation

docs: updated all outdated docs
  .github/CONTRIBUTING.md
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/INSTALL.md
Labels: documentation, github

Doc update (#160)
  .github/CONTRIBUTING.md
  CLAUDE.md
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/INSTALL.md
Labels: documentation, github

ci: migrated from dependabot to renovate
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/dependabot-auto-merge.yml
Labels: github, github-actions, configuration

ci: migrated from dependabot to renovate (#164)
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/dependabot-auto-merge.yml
Labels: github, github-actions, configuration

ci(renovate): added pre-commit to renovate config
  .github/renovate.json5
Labels: github

ci(renovate): added pre-commit to renovate config (#167)
  .github/renovate.json5
Labels: github

chore(ops-cli): removed gateway config from project
  .settings/org.eclipse.core.resources.prefs
  .settings/org.eclipse.jdt.apt.core.prefs
  .settings/org.eclipse.jdt.core.prefs
  .settings/org.eclipse.m2e.core.prefs
  k8s/gateway-route.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
Labels: configuration, scripts, kubernetes

chore(ops-cli): removed gateway config from project (#168)
  .settings/org.eclipse.core.resources.prefs
  .settings/org.eclipse.jdt.apt.core.prefs
  .settings/org.eclipse.jdt.core.prefs
  .settings/org.eclipse.m2e.core.prefs
  k8s/gateway-route.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
Labels: configuration, scripts, kubernetes

bd migrate-sync: initial sync branch setup
  .beads/issues.jsonl
  .beads/metadata.json
Labels: none

feat(beads): integrated beads with repository
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  .markdownlintignore
  AGENTS.md
Labels: documentation, configuration, kubernetes

feat(beads): integrated beads with repository (#169)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  .markdownlintignore
  AGENTS.md
Labels: documentation, configuration, kubernetes

build(deps): updated outputed testcontainers artifacts
  .gitignore
  pom.xml
Labels: dependencies

fix(pre-commit): pre-commit hooks only run once on commit
  .pre-commit-config.yaml
Labels: configuration, kubernetes

Build fixes (#177)
  .gitignore
  .pre-commit-config.yaml
  pom.xml
Labels: dependencies, configuration, kubernetes

chore: beads dolt migration
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/issues.jsonl
  .beads/metadata.json
  .classpath
  AGENTS.md
Labels: documentation, configuration, kubernetes

chore: beads dolt migration (#193)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/issues.jsonl
  .beads/metadata.json
  .classpath
  AGENTS.md
Labels: documentation, configuration, kubernetes

.github/labeler.yml:

---
# PR Labeler Configuration for Recipe Management Service

# Dependencies
dependencies:
  - pom.xml
  - "**/pom.xml"

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*

# GitHub configuration
github:
  - .github/**/*

# Workflows
github-actions:
  - .github/workflows/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# Configuration
configuration:
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.properties"
  - src/main/resources/application*.yml
  - src/main/resources/application*.properties

# Java source code
java:
  - "**/*.java"
  - src/main/java/**/*

# Tests
tests:
  - src/test/**/*
  - "**/*Test.java"
  - "**/*Tests.java"

# Database/Migrations
database:
  - src/main/resources/db/**/*
  - src/main/resources/db/migration/**/*

# REST Controllers/API
api:
  - src/main/java/**/controller/**/*
  - src/main/java/**/rest/**/*

# Service Layer
service:
  - src/main/java/**/service/**/*

# Repository/Data Access
repository:
  - src/main/java/**/repository/**/*

# DTOs and Models
dto:
  - src/main/java/**/dto/**/*
  - src/main/java/**/model/dto/**/*

# Entities
entity:
  - src/main/java/**/entity/**/*
  - src/main/java/**/model/entity/**/*

# Mappers
mapper:
  - src/main/java/**/mapper/**/*
  - src/main/java/**/model/mapper/**/*

# Security
security:
  - src/main/java/**/security/**/*
  - src/main/java/**/config/SecurityConfig.java

# Configuration Classes
config:
  - src/main/java/**/config/**/*

# Scripts
scripts:
  - scripts/**/*
  - "**/*.sh"

# Kubernetes
kubernetes:
  - k8s/**/*
  - "**/*.yaml"
