Repository Recipe-Web-App/recipe-management-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, java, tests, database, api, service, repository, dto, entity, mapper, security, config, scripts, kubernetes

.github/labeler.yml:

---
# PR Labeler Configuration for Recipe Management Service

# Dependencies
dependencies:
  - pom.xml
  - "**/pom.xml"

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*

# GitHub configuration
github:
  - .github/**/*

# Workflows
github-actions:
  - .github/workflows/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# Configuration
configuration:
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.properties"
  - src/main/resources/application*.yml
  - src/main/resources/application*.properties

# Java source code
java:
  - "**/*.java"
  - src/main/java/**/*

# Tests
tests:
  - src/test/**/*
  - "**/*Test.java"
  - "**/*Tests.java"

# Database/Migrations
database:
  - src/main/resources/db/**/*
  - src/main/resources/db/migration/**/*

# REST Controllers/API
api:
  - src/main/java/**/controller/**/*
  - src/main/java/**/rest/**/*

# Service Layer
service:
  - src/main/java/**/service/**/*

# Repository/Data Access
repository:
  - src/main/java/**/repository/**/*

# DTOs and Models
dto:
  - src/main/java/**/dto/**/*
  - src/main/java/**/model/dto/**/*

# Entities
entity:
  - src/main/java/**/entity/**/*
  - src/main/java/**/model/entity/**/*

# Mappers
mapper:
  - src/main/java/**/mapper/**/*
  - src/main/java/**/model/mapper/**/*

# Security
security:
  - src/main/java/**/security/**/*
  - src/main/java/**/config/SecurityConfig.java

# Configuration Classes
config:
  - src/main/java/**/config/**/*

# Scripts
scripts:
  - scripts/**/*
  - "**/*.sh"

# Kubernetes
kubernetes:
  - k8s/**/*
  - "**/*.yaml"

chore: upgraded to spring 4
  pom.xml
  src/main/java/com/recipe_manager/config/HealthCheckConfig.java
  src/main/java/com/recipe_manager/config/HttpClientConfig.java
  src/main/java/com/recipe_manager/config/SecurityConfig.java
  src/main/java/com/recipe_manager/health/RecipeScraperHealthIndicator.java
  src/main/java/com/recipe_manager/model/entity/collection/RecipeCollection.java
  src/main/java/com/recipe_manager/model/entity/media/Media.java
  src/main/java/com/recipe_manager/model/entity/recipe/Recipe.java
  src/main/java/com/recipe_manager/model/entity/recipe/RecipeIngredient.java
  src/main/java/com/recipe_manager/model/entity/recipe/RecipeRevision.java
  src/test/component/java/com/recipe_manager/component_tests/media_service/GetRecipeMediaComponentTest.java
  src/test/unit/java/com/recipe_manager/config/HealthCheckConfigTest.java
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/controller/MediaControllerTest.java
  src/test/unit/java/com/recipe_manager/health/RecipeScraperHealthIndicatorTest.java
  src/test/unit/java/com/recipe_manager/security/OAuth2ClientTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: dependencies, java, tests, entity, security, config

chore: upgraded to spring 4 (#131)
  pom.xml
  src/main/java/com/recipe_manager/config/HealthCheckConfig.java
  src/main/java/com/recipe_manager/config/HttpClientConfig.java
  src/main/java/com/recipe_manager/config/SecurityConfig.java
  src/main/java/com/recipe_manager/health/RecipeScraperHealthIndicator.java
  src/main/java/com/recipe_manager/model/entity/collection/RecipeCollection.java
  src/main/java/com/recipe_manager/model/entity/media/Media.java
  src/main/java/com/recipe_manager/model/entity/recipe/Recipe.java
  src/main/java/com/recipe_manager/model/entity/recipe/RecipeIngredient.java
  src/main/java/com/recipe_manager/model/entity/recipe/RecipeRevision.java
  src/test/component/java/com/recipe_manager/component_tests/media_service/GetRecipeMediaComponentTest.java
  src/test/unit/java/com/recipe_manager/config/HealthCheckConfigTest.java
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/controller/MediaControllerTest.java
  src/test/unit/java/com/recipe_manager/health/RecipeScraperHealthIndicatorTest.java
  src/test/unit/java/com/recipe_manager/security/OAuth2ClientTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: dependencies, java, tests, entity, security, config

fix: fixed auto-commit config error causing db failures
  src/main/resources/application.yml
Labels: configuration

fix: fixed auto-commit config error causing db failures (#132)
  src/main/resources/application.yml
Labels: configuration

feat: added token caching
  src/main/java/com/recipe_manager/config/CacheConfig.java
  src/main/java/com/recipe_manager/security/OAuth2Client.java
  src/main/resources/application.yml
  src/test/unit/java/com/recipe_manager/config/CacheConfigTest.java
  src/test/unit/java/com/recipe_manager/security/OAuth2ClientTest.java
Labels: configuration, java, tests, security, config

feat: added token caching (#133)
  src/main/java/com/recipe_manager/config/CacheConfig.java
  src/main/java/com/recipe_manager/security/OAuth2Client.java
  src/main/resources/application.yml
  src/test/unit/java/com/recipe_manager/config/CacheConfigTest.java
  src/test/unit/java/com/recipe_manager/security/OAuth2ClientTest.java
Labels: configuration, java, tests, security, config

fix: fixed errors with recipe search query
  src/main/java/com/recipe_manager/repository/recipe/RecipeRepository.java
Labels: java, repository

fix: fixed errors with recipe search query (#140)
  src/main/java/com/recipe_manager/repository/recipe/RecipeRepository.java
Labels: java, repository

chore: auto updated all pre commit hooks
  .pre-commit-config.yaml
Labels: configuration, kubernetes

chore: auto updated all pre commit hooks (#141)
  .pre-commit-config.yaml
Labels: configuration, kubernetes

docs(optimize-create-collection): updated open api spec with collection creation optimization plans
  docs/openapi.yaml
  src/main/java/com/recipe_manager/model/dto/request/CreateCollectionRequest.java
Labels: documentation, configuration, java, dto, kubernetes

chore(optimize-create-collection): updated collection schemas
  src/main/java/com/recipe_manager/model/dto/response/CollectionDetailsDto.java
  src/main/java/com/recipe_manager/model/mapper/CollectionMapper.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionByIdTest.java
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/model/dto/response/CollectionDetailsDtoTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/CollectionMapperTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, dto, mapper

feat(optimize-create-collection): updated service-logic to support new endpoint schemas
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, service

Create collection update (#142)
  docs/openapi.yaml
  src/main/java/com/recipe_manager/model/dto/request/CreateCollectionRequest.java
  src/main/java/com/recipe_manager/model/dto/response/CollectionDetailsDto.java
  src/main/java/com/recipe_manager/model/mapper/CollectionMapper.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionByIdTest.java
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/model/dto/response/CollectionDetailsDtoTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/CollectionMapperTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: documentation, configuration, java, tests, service, dto, mapper, kubernetes

fix(optimize-create-collection): added missing fields to response schema
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service

fix(optimize-create-collection): added missing fields to response schema (#143)
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service

chore: added zed IDE settings to project
  .classpath
  .factorypath
  .project
  .settings/org.eclipse.core.resources.prefs
  .settings/org.eclipse.jdt.apt.core.prefs
  .settings/org.eclipse.jdt.core.prefs
  .settings/org.eclipse.m2e.core.prefs
  .zed/settings.json
Labels: none

chore: added zed IDE settings to project (#144)
  .classpath
  .factorypath
  .project
  .settings/org.eclipse.core.resources.prefs
  .settings/org.eclipse.jdt.apt.core.prefs
  .settings/org.eclipse.jdt.core.prefs
  .settings/org.eclipse.m2e.core.prefs
  .zed/settings.json
Labels: none

fix(optimize-create-collection): populated empty lists in response
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddRecipeToCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/CreateCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/DeleteCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollaboratorsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionByIdTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveRecipeFromCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/ReorderRecipesTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/SearchCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/UpdateCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/UpdateRecipeOrderTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, service

fix(optimize-create-collection): populated empty lists in response (#145)
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddRecipeToCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/CreateCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/DeleteCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollaboratorsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionByIdTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveRecipeFromCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/ReorderRecipesTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/SearchCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/UpdateCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/UpdateRecipeOrderTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, service

docs(get-my-collections): updated openapi spec with new endpoint
  .settings/org.eclipse.jdt.core.prefs
  docs/openapi.yaml
Labels: documentation, configuration, kubernetes

feat(get-my-collections): implemented get-my-collections endpoint
  src/main/java/com/recipe_manager/controller/UserController.java
  src/main/java/com/recipe_manager/repository/collection/RecipeCollectionRepository.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/user_service/GetMyCollectionsComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/user_service/GetMyRecipesComponentTest.java
  src/test/unit/java/com/recipe_manager/controller/UserControllerTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service, repository

Get my collections impl (#146)
  .settings/org.eclipse.jdt.core.prefs
  docs/openapi.yaml
  src/main/java/com/recipe_manager/controller/UserController.java
  src/main/java/com/recipe_manager/repository/collection/RecipeCollectionRepository.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/user_service/GetMyCollectionsComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/user_service/GetMyRecipesComponentTest.java
  src/test/unit/java/com/recipe_manager/controller/UserControllerTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: documentation, configuration, java, tests, api, service, repository, kubernetes

chore: increased timeout waiting for deployment to succeed
  scripts/containerManagement/deploy-container.sh
Labels: scripts

chore: increased timeout waiting for deployment to succeed (#150)
  scripts/containerManagement/deploy-container.sh
Labels: scripts

feat(kong): migrated service from ingress nginx to kong gateway
  .classpath
  .settings/org.eclipse.core.resources.prefs
  .settings/org.eclipse.jdt.core.prefs
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
Labels: configuration, scripts, kubernetes

refactor(kong): updated service host references to use kong proxy
  README.md
  docs/API.md
  docs/MEDIA.md
  docs/openapi.yaml
  postman/README.md
  postman/Recipe-Management-Development.postman_environment.json
  postman/Recipe-Management-Local.postman_environment.json
  src/main/resources/application.yml
  src/test/dependency/resources/karate-config.js
  src/test/performance/resources/add-collaborator-performance.jmx
  src/test/performance/resources/create-recipe-performance.jmx
  src/test/performance/resources/delete-recipe-performance.jmx
  src/test/performance/resources/get-all-recipes-performance.jmx
  src/test/performance/resources/get-collaborators-performance.jmx
  src/test/performance/resources/get-collection-by-id-performance.jmx
  src/test/performance/resources/get-collections-performance.jmx
  src/test/performance/resources/get-ingredients-performance.jmx
  src/test/performance/resources/get-my-recipes-performance.jmx
  src/test/performance/resources/get-recipe-performance.jmx
  src/test/performance/resources/get-trending-recipes-performance.jmx
  src/test/performance/resources/health-endpoint-performance.jmx
  src/test/performance/resources/performance-config.properties
  src/test/performance/resources/remove-collaborator-performance.jmx
  src/test/performance/resources/remove-recipe-from-collection-performance.jmx
  src/test/performance/resources/reorder-recipes-performance.jmx
  src/test/performance/resources/search-recipes-performance.jmx
  src/test/performance/resources/update-collection-performance.jmx
  src/test/performance/resources/update-recipe-order-performance.jmx
  src/test/performance/resources/update-recipe-performance.jmx
  src/test/unit/java/com/recipe_manager/security/ServiceAuthClientTest.java
Labels: documentation, configuration, java, tests, kubernetes

Kong migration (#151)
  .classpath
  .settings/org.eclipse.core.resources.prefs
  .settings/org.eclipse.jdt.core.prefs
  README.md
  docs/API.md
  docs/MEDIA.md
  docs/openapi.yaml
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  postman/README.md
  postman/Recipe-Management-Development.postman_environment.json
  postman/Recipe-Management-Local.postman_environment.json
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  src/main/resources/application.yml
  src/test/dependency/resources/karate-config.js
  src/test/performance/resources/add-collaborator-performance.jmx
  src/test/performance/resources/create-recipe-performance.jmx
  src/test/performance/resources/delete-recipe-performance.jmx
  src/test/performance/resources/get-all-recipes-performance.jmx
  src/test/performance/resources/get-collaborators-performance.jmx
  src/test/performance/resources/get-collection-by-id-performance.jmx
  src/test/performance/resources/get-collections-performance.jmx
  src/test/performance/resources/get-ingredients-performance.jmx
  src/test/performance/resources/get-my-recipes-performance.jmx
  src/test/performance/resources/get-recipe-performance.jmx
  src/test/performance/resources/get-trending-recipes-performance.jmx
  src/test/performance/resources/health-endpoint-performance.jmx
  src/test/performance/resources/performance-config.properties
  src/test/performance/resources/remove-collaborator-performance.jmx
  src/test/performance/resources/remove-recipe-from-collection-performance.jmx
  src/test/performance/resources/reorder-recipes-performance.jmx
  src/test/performance/resources/search-recipes-performance.jmx
  src/test/performance/resources/update-collection-performance.jmx
  src/test/performance/resources/update-recipe-order-performance.jmx
  src/test/performance/resources/update-recipe-performance.jmx
  src/test/unit/java/com/recipe_manager/security/ServiceAuthClientTest.java
Labels: documentation, configuration, java, tests, scripts, kubernetes

refactor(user-preferences): updated user-mgmt-service client to support refactored preference schema
  src/main/java/com/recipe_manager/client/usermanagement/UserManagementClient.java
  src/main/java/com/recipe_manager/client/usermanagement/UserManagementFallback.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/DisplayPreferencesDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/NotificationPreferencesDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/PrivacyPreferencesDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/UserDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/UserPreferenceResponseDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/UserPreferencesDto.java
  src/main/java/com/recipe_manager/service/FavoriteService.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/GetUserFavoritesComponentTest.java
  src/test/unit/java/com/recipe_manager/client/usermanagement/UserManagementClientTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/usermanagement/UserDtoTest.java
  src/test/unit/java/com/recipe_manager/service/FavoriteServiceTest.java
Labels: java, tests, service, dto

refactor(user-preferences): updated user-mgmt-service client to support refactored preference schema (#152)
  src/main/java/com/recipe_manager/client/usermanagement/UserManagementClient.java
  src/main/java/com/recipe_manager/client/usermanagement/UserManagementFallback.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/DisplayPreferencesDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/NotificationPreferencesDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/PrivacyPreferencesDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/UserDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/UserPreferenceResponseDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/UserPreferencesDto.java
  src/main/java/com/recipe_manager/service/FavoriteService.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/GetUserFavoritesComponentTest.java
  src/test/unit/java/com/recipe_manager/client/usermanagement/UserManagementClientTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/usermanagement/UserDtoTest.java
  src/test/unit/java/com/recipe_manager/service/FavoriteServiceTest.java
Labels: java, tests, service, dto

refactor(notifications): updated notification-service client to support refactored schema
  src/main/java/com/recipe_manager/model/dto/external/notificationservice/response/BatchNotificationResponseDto.java
  src/test/unit/java/com/recipe_manager/model/dto/external/notificationservice/response/BatchNotificationResponseDtoTest.java
Labels: java, tests, dto

refactor(notifications): updated notification-service client to support refactored schema (#153)
  src/main/java/com/recipe_manager/model/dto/external/notificationservice/response/BatchNotificationResponseDto.java
  src/test/unit/java/com/recipe_manager/model/dto/external/notificationservice/response/BatchNotificationResponseDtoTest.java
Labels: java, tests, dto

chore(run-local): updated service to support running locally
  .gitignore
  Makefile
  scripts/containerManagement/deploy-container.sh
  src/main/resources/application-local.yml
Labels: configuration, scripts

chore(run-local): added dev auth filter to support x-user-id header without token
  src/main/java/com/recipe_manager/config/SecurityConfig.java
  src/main/java/com/recipe_manager/security/DevAuthenticationFilter.java
  src/test/unit/java/com/recipe_manager/config/SecurityConfigTest.java
  src/test/unit/java/com/recipe_manager/security/DevAuthenticationFilterTest.java
Labels: java, tests, security, config

Run local impl (#154)
  .gitignore
  Makefile
  scripts/containerManagement/deploy-container.sh
  src/main/java/com/recipe_manager/config/SecurityConfig.java
  src/main/java/com/recipe_manager/security/DevAuthenticationFilter.java
  src/main/resources/application-local.yml
  src/test/unit/java/com/recipe_manager/config/SecurityConfigTest.java
  src/test/unit/java/com/recipe_manager/security/DevAuthenticationFilterTest.java
Labels: configuration, java, tests, security, config, scripts

docs(fav-collections): updated openapi spec with collection favorite endpoints
  docs/openapi.yaml
Labels: documentation, configuration, kubernetes

chore(fav-collections): added models for collection favorites
  src/main/java/com/recipe_manager/model/dto/collection/CollectionFavoriteDto.java
  src/main/java/com/recipe_manager/model/entity/collection/CollectionFavorite.java
  src/main/java/com/recipe_manager/model/entity/collection/CollectionFavoriteId.java
  src/main/java/com/recipe_manager/model/mapper/CollectionFavoriteMapper.java
  src/main/java/com/recipe_manager/repository/collection/CollectionFavoriteRepository.java
  src/test/unit/java/com/recipe_manager/model/dto/collection/CollectionFavoriteDtoTest.java
  src/test/unit/java/com/recipe_manager/model/entity/collection/CollectionFavoriteIdTest.java
  src/test/unit/java/com/recipe_manager/model/entity/collection/CollectionFavoriteTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/CollectionFavoriteMapperTest.java
  src/test/unit/java/com/recipe_manager/repository/collection/CollectionFavoriteRepositoryTest.java
Labels: java, tests, repository, dto, entity, mapper

chore(fav-collections): added new collection favorite endpoints to controller
  docs/openapi.yaml
  src/main/java/com/recipe_manager/controller/FavoriteController.java
  src/test/unit/java/com/recipe_manager/controller/FavoriteControllerTest.java
Labels: documentation, configuration, java, tests, api, kubernetes

feat(fav-collections): implemented controller, service layer & tests for new endpoints
  pom.xml
  src/main/java/com/recipe_manager/controller/FavoriteController.java
  src/main/java/com/recipe_manager/model/mapper/CollectionCollaboratorMapper.java
  src/main/java/com/recipe_manager/service/FavoriteService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollaboratorsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/AddFavoriteComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/FavoriteCollectionComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/GetFavoriteCollectionsComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/IsCollectionFavoritedComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/UnfavoriteCollectionComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/user_service/GetMyCollectionsComponentTest.java
  src/test/dependency/java/com/recipe_manager/dependency_tests/FavoriteKarateRunner.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/favorite/favorite-collection.feature
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/favorite/get-favorite-collections.feature
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/favorite/is-collection-favorited.feature
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/favorite/unfavorite-collection.feature
  src/test/performance/resources/favorite-collection-performance.jmx
  src/test/performance/resources/get-favorite-collections-performance.jmx
  src/test/performance/resources/is-collection-favorited-performance.jmx
  src/test/performance/resources/unfavorite-collection-performance.jmx
  src/test/unit/java/com/recipe_manager/controller/FavoriteControllerTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/CollectionCollaboratorMapperTest.java
  src/test/unit/java/com/recipe_manager/service/FavoriteServiceTest.java
Labels: dependencies, java, tests, api, service, mapper

Collection fav endpoints (#155)
  docs/openapi.yaml
  pom.xml
  src/main/java/com/recipe_manager/controller/FavoriteController.java
  src/main/java/com/recipe_manager/model/dto/collection/CollectionFavoriteDto.java
  src/main/java/com/recipe_manager/model/entity/collection/CollectionFavorite.java
  src/main/java/com/recipe_manager/model/entity/collection/CollectionFavoriteId.java
  src/main/java/com/recipe_manager/model/mapper/CollectionCollaboratorMapper.java
  src/main/java/com/recipe_manager/model/mapper/CollectionFavoriteMapper.java
  src/main/java/com/recipe_manager/repository/collection/CollectionFavoriteRepository.java
  src/main/java/com/recipe_manager/service/FavoriteService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollaboratorsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/AddFavoriteComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/FavoriteCollectionComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/GetFavoriteCollectionsComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/IsCollectionFavoritedComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/UnfavoriteCollectionComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/user_service/GetMyCollectionsComponentTest.java
  src/test/dependency/java/com/recipe_manager/dependency_tests/FavoriteKarateRunner.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/favorite/favorite-collection.feature
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/favorite/get-favorite-collections.feature
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/favorite/is-collection-favorited.feature
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/favorite/unfavorite-collection.feature
  src/test/performance/resources/favorite-collection-performance.jmx
  src/test/performance/resources/get-favorite-collections-performance.jmx
  src/test/performance/resources/is-collection-favorited-performance.jmx
  src/test/performance/resources/unfavorite-collection-performance.jmx
  src/test/unit/java/com/recipe_manager/controller/FavoriteControllerTest.java
  src/test/unit/java/com/recipe_manager/model/dto/collection/CollectionFavoriteDtoTest.java
  src/test/unit/java/com/recipe_manager/model/entity/collection/CollectionFavoriteIdTest.java
  src/test/unit/java/com/recipe_manager/model/entity/collection/CollectionFavoriteTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/CollectionCollaboratorMapperTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/CollectionFavoriteMapperTest.java
  src/test/unit/java/com/recipe_manager/repository/collection/CollectionFavoriteRepositoryTest.java
  src/test/unit/java/com/recipe_manager/service/FavoriteServiceTest.java
Labels: dependencies, documentation, configuration, java, tests, api, service, repository, dto, entity, mapper, kubernetes
