Repository Recipe-Web-App/recipe-management-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, configuration, java, tests, database, api, service, repository, dto, entity, mapper, security, config, scripts, kubernetes

.github/labeler.yml:

---
# PR Labeler Configuration for Recipe Management Service

# Dependencies
dependencies:
  - pom.xml
  - "**/pom.xml"

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*

# GitHub configuration
github:
  - .github/**/*

# Workflows
github-actions:
  - .github/workflows/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# Configuration
configuration:
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.properties"
  - src/main/resources/application*.yml
  - src/main/resources/application*.properties

# Java source code
java:
  - "**/*.java"
  - src/main/java/**/*

# Tests
tests:
  - src/test/**/*
  - "**/*Test.java"
  - "**/*Tests.java"

# Database/Migrations
database:
  - src/main/resources/db/**/*
  - src/main/resources/db/migration/**/*

# REST Controllers/API
api:
  - src/main/java/**/controller/**/*
  - src/main/java/**/rest/**/*

# Service Layer
service:
  - src/main/java/**/service/**/*

# Repository/Data Access
repository:
  - src/main/java/**/repository/**/*

# DTOs and Models
dto:
  - src/main/java/**/dto/**/*
  - src/main/java/**/model/dto/**/*

# Entities
entity:
  - src/main/java/**/entity/**/*
  - src/main/java/**/model/entity/**/*

# Mappers
mapper:
  - src/main/java/**/mapper/**/*
  - src/main/java/**/model/mapper/**/*

# Security
security:
  - src/main/java/**/security/**/*
  - src/main/java/**/config/SecurityConfig.java

# Configuration Classes
config:
  - src/main/java/**/config/**/*

# Scripts
scripts:
  - scripts/**/*
  - "**/*.sh"

# Kubernetes
kubernetes:
  - k8s/**/*
  - "**/*.yaml"

feat(recipe-collections): added repositories for recipe collections
  src/main/java/com/recipe_manager/repository/collection/CollectionCollaboratorRepository.java
  src/main/java/com/recipe_manager/repository/collection/RecipeCollectionItemRepository.java
  src/main/java/com/recipe_manager/repository/collection/RecipeCollectionRepository.java
  src/test/unit/java/com/recipe_manager/repository/collection/CollectionCollaboratorRepositoryTest.java
  src/test/unit/java/com/recipe_manager/repository/collection/RecipeCollectionItemRepositoryTest.java
  src/test/unit/java/com/recipe_manager/repository/collection/RecipeCollectionRepositoryTest.java
Labels: java, tests, repository

feat(recipe-collections): implemented get collections endpoint
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/model/mapper/CollectionMapper.java
  src/main/java/com/recipe_manager/repository/collection/CollectionSummaryProjection.java
  src/main/java/com/recipe_manager/repository/collection/RecipeCollectionRepository.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionsTest.java
  src/test/dependency/java/com/recipe_manager/dependency_tests/CollectionKarateRunner.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/collection/get-collections.feature
  src/test/performance/resources/get-collections-performance.jmx
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/CollectionMapperTest.java
  src/test/unit/java/com/recipe_manager/repository/collection/CollectionSummaryProjectionTest.java
  src/test/unit/java/com/recipe_manager/repository/collection/RecipeCollectionRepositoryTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service, repository, mapper

feat(recipe-collections): implemented create collection endpoint
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/model/mapper/CollectionMapper.java
  src/main/java/com/recipe_manager/model/mapper/RecipeCollectionMapper.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/CreateCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionsTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/CollectionMapperTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/RecipeCollectionMapperTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service, mapper

feat(recipe-collections): implemented get collection by ID endpoint
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/model/dto/response/CollectionDetailsDto.java
  src/main/java/com/recipe_manager/model/mapper/CollectionMapper.java
  src/main/java/com/recipe_manager/repository/collection/RecipeCollectionRepository.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionByIdTest.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/collection/get-collection-by-id.feature
  src/test/performance/resources/get-collection-by-id-performance.jmx
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/model/dto/response/CollectionDetailsDtoTest.java
  src/test/unit/java/com/recipe_manager/model/dto/response/CollectionDetailsResponseTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/CollectionMapperTest.java
  src/test/unit/java/com/recipe_manager/repository/collection/RecipeCollectionRepositoryTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service, repository, dto, mapper

feat(recipe-collections): implemented update collection endpoint
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/model/dto/request/UpdateCollectionRequest.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/UpdateCollectionTest.java
  src/test/dependency/java/com/recipe_manager/dependency_tests/CollectionKarateRunner.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/collection/update-collection.feature
  src/test/performance/resources/update-collection-performance.jmx
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/model/dto/request/UpdateCollectionRequestTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service, dto

feat(recipe-collections): implemented delete collection endpoint
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/DeleteCollectionTest.java
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service

feat(recipe-collections): implemented search collections endpoint
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/model/dto/request/UpdateCollectionRequest.java
  src/main/java/com/recipe_manager/repository/collection/RecipeCollectionRepository.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/SearchCollectionsTest.java
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/repository/collection/RecipeCollectionRepositoryTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service, repository, dto

feat(recipe-collections): implemented add-recipe-to-collection endpoint
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/exception/DuplicateResourceException.java
  src/main/java/com/recipe_manager/exception/GlobalExceptionHandler.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddRecipeToCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/CreateCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/DeleteCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionByIdTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/SearchCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/UpdateCollectionTest.java
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service

feat(recipe-collections): implemented remove-recipe-from-collection endpoint
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveRecipeFromCollectionTest.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/collection/remove-recipe-from-collection.feature
  src/test/performance/resources/remove-recipe-from-collection-performance.jmx
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service

feat(recipe-collections): implemented reorder recipes endpoint
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/exception/GlobalExceptionHandler.java
  src/main/java/com/recipe_manager/repository/collection/RecipeCollectionItemRepository.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/ReorderRecipesTest.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/collection/reorder-recipes.feature
  src/test/performance/resources/reorder-recipes-performance.jmx
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/CollectionMapperTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service, repository

feat(recipe-collections): implemented update recipe order endpoint
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/UpdateRecipeOrderTest.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/collection/update-recipe-order.feature
  src/test/performance/resources/update-recipe-order-performance.jmx
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service

feat(recipe-collections): implemented get collaborators endpoint
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/model/dto/collection/CollectionCollaboratorDto.java
  src/main/java/com/recipe_manager/model/mapper/CollectionCollaboratorMapper.java
  src/main/java/com/recipe_manager/repository/collection/CollectionCollaboratorRepository.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollaboratorsTest.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/collection/get-collaborators.feature
  src/test/performance/resources/get-collaborators-performance.jmx
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/model/dto/collection/CollectionCollaboratorDtoTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/CollectionCollaboratorMapperTest.java
  src/test/unit/java/com/recipe_manager/repository/collection/CollectionCollaboratorRepositoryTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service, repository, dto, mapper

feat(recipe-collections): implemented add collaborators endpoint
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddCollaboratorTest.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/collection/add-collaborator.feature
  src/test/performance/resources/add-collaborator-performance.jmx
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service

feat(recipe-collections): implemented remove collaborators endpoint
  src/main/java/com/recipe_manager/controller/CollectionController.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveCollaboratorTest.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/collection/remove-collaborator.feature
  src/test/performance/resources/remove-collaborator-performance.jmx
  src/test/unit/java/com/recipe_manager/controller/CollectionControllerTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
Labels: java, tests, api, service

docs(recipe-collections): updated openapi spec with new endpoints
  docs/openapi.yaml
Labels: documentation, configuration, kubernetes

docs(recipe-collections): updated postman collection with collection endpoints
  postman/Recipe-Management-Service.postman_collection.json
Labels: none

chore(java-25): updated service to java 25
  .github/workflows/checkstyle.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/jacoco.yml
  .github/workflows/pmd.yml
  .github/workflows/spotbugs.yml
  CLAUDE.md
  README.md
  pom.xml
Labels: dependencies, documentation, github, github-actions, configuration

feat(recipe-comments): added recipe comment endpoints
  docs/openapi.yaml
  pom.xml
  src/main/java/com/recipe_manager/controller/RecipeManagementController.java
  src/main/java/com/recipe_manager/model/dto/recipe/RecipeCommentDto.java
  src/main/java/com/recipe_manager/model/dto/recipe/RecipeDto.java
  src/main/java/com/recipe_manager/model/dto/request/AddRecipeCommentRequest.java
  src/main/java/com/recipe_manager/model/dto/request/EditRecipeCommentRequest.java
  src/main/java/com/recipe_manager/model/dto/response/RecipeCommentsResponse.java
  src/main/java/com/recipe_manager/model/entity/recipe/Recipe.java
  src/main/java/com/recipe_manager/model/entity/recipe/RecipeComment.java
  src/main/java/com/recipe_manager/model/mapper/RecipeCommentMapper.java
  src/main/java/com/recipe_manager/model/mapper/RecipeMapper.java
  src/main/java/com/recipe_manager/repository/recipe/RecipeCommentRepository.java
  src/main/java/com/recipe_manager/service/RecipeService.java
  src/test/component/java/com/recipe_manager/component_tests/AbstractComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/recipe_service/CreateRecipeComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/recipe_service/DeleteRecipeComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/recipe_service/GetAllRecipesComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/recipe_service/GetRecipeComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/recipe_service/RecipeCommentsComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/recipe_service/SearchRecipesComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/recipe_service/UpdateRecipeComponentTest.java
  src/test/dependency/java/com/recipe_manager/dependency_tests/RecipeCommentsKarateRunner.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/recipe/add-recipe-comment.feature
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/recipe/delete-recipe-comment.feature
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/recipe/edit-recipe-comment.feature
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/recipe/get-recipe-comments.feature
  src/test/unit/java/com/recipe_manager/model/dto/recipe/RecipeCommentDtoTest.java
  src/test/unit/java/com/recipe_manager/model/dto/recipe/RecipeDtoTest.java
  src/test/unit/java/com/recipe_manager/model/dto/request/AddRecipeCommentRequestTest.java
  src/test/unit/java/com/recipe_manager/model/dto/request/EditRecipeCommentRequestTest.java
  src/test/unit/java/com/recipe_manager/model/dto/response/RecipeCommentsResponseTest.java
  src/test/unit/java/com/recipe_manager/model/entity/recipe/RecipeCommentTest.java
  src/test/unit/java/com/recipe_manager/model/entity/recipe/RecipeTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/RecipeCommentMapperTest.java
  src/test/unit/java/com/recipe_manager/model/mapper/RecipeMapperTest.java
  src/test/unit/java/com/recipe_manager/repository/recipe/RecipeCommentRepositoryTest.java
  src/test/unit/java/com/recipe_manager/service/RecipeServiceRevisionTest.java
  src/test/unit/java/com/recipe_manager/service/RecipeServiceRevisionsTest.java
Labels: dependencies, documentation, configuration, java, tests, api, service, repository, dto, entity, mapper, kubernetes

feat(notification-service): implemented downstream client for notification service
  src/main/java/com/recipe_manager/client/common/ExternalServiceErrorDecoder.java
  src/main/java/com/recipe_manager/client/notificationservice/NotificationServiceClient.java
  src/main/java/com/recipe_manager/config/ExternalServicesConfig.java
  src/main/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipeCommentedRequestDto.java
  src/main/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipeLikedRequestDto.java
  src/main/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipePublishedRequestDto.java
  src/main/java/com/recipe_manager/model/dto/external/notificationservice/response/BatchNotificationResponseDto.java
  src/main/java/com/recipe_manager/model/dto/external/notificationservice/response/NotificationErrorResponseDto.java
  src/main/java/com/recipe_manager/service/external/notificationservice/NotificationServiceFallback.java
  src/main/resources/application.yml
  src/test/unit/java/com/recipe_manager/client/notificationservice/NotificationServiceClientTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipeCommentedRequestDtoTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipeLikedRequestDtoTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipePublishedRequestDtoTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/notificationservice/response/BatchNotificationResponseDtoTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/notificationservice/response/NotificationErrorResponseDtoTest.java
  src/test/unit/java/com/recipe_manager/service/external/notificationservice/NotificationServiceFallbackTest.java
Labels: configuration, java, tests, service, dto, config

feat(notification-service): added webhooks to call notification service
  src/main/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipeCommentedRequestDto.java
  src/main/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipeLikedRequestDto.java
  src/main/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipePublishedRequestDto.java
  src/main/java/com/recipe_manager/model/dto/external/notificationservice/response/BatchNotificationResponseDto.java
  src/main/java/com/recipe_manager/service/IngredientService.java
  src/main/java/com/recipe_manager/service/RecipeService.java
  src/main/java/com/recipe_manager/service/StepService.java
  src/main/java/com/recipe_manager/service/external/notificationservice/NotificationService.java
  src/test/component/java/com/recipe_manager/component_tests/AbstractComponentTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipeCommentedRequestDtoTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipeLikedRequestDtoTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipePublishedRequestDtoTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/notificationservice/response/BatchNotificationResponseDtoTest.java
  src/test/unit/java/com/recipe_manager/service/IngredientServiceRevisionsTest.java
  src/test/unit/java/com/recipe_manager/service/IngredientServiceTest.java
  src/test/unit/java/com/recipe_manager/service/RecipeServiceRevisionTest.java
  src/test/unit/java/com/recipe_manager/service/RecipeServiceRevisionsTest.java
  src/test/unit/java/com/recipe_manager/service/RecipeServiceTest.java
  src/test/unit/java/com/recipe_manager/service/StepServiceRevisionsTest.java
  src/test/unit/java/com/recipe_manager/service/external/notificationservice/NotificationServiceFallbackTest.java
  src/test/unit/java/com/recipe_manager/service/external/notificationservice/NotificationServiceTest.java
Labels: java, tests, service, dto

feat(notification-service): implemented downstream client for user management service
  src/main/java/com/recipe_manager/client/usermanagement/UserManagementClient.java
  src/main/java/com/recipe_manager/client/usermanagement/UserManagementFallback.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/GetFollowersResponseDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/UserDto.java
  src/main/java/com/recipe_manager/service/RecipeService.java
  src/main/java/com/recipe_manager/service/external/notificationservice/NotificationService.java
  src/main/resources/application.yml
  src/test/unit/java/com/recipe_manager/client/usermanagement/UserManagementClientTest.java
  src/test/unit/java/com/recipe_manager/client/usermanagement/UserManagementFallbackTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/usermanagement/GetFollowersResponseDtoTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/usermanagement/UserDtoTest.java
  src/test/unit/java/com/recipe_manager/service/external/notificationservice/NotificationServiceTest.java
Labels: configuration, java, tests, service, dto

perf(docker): optimized docker build with mvn caching
  Dockerfile
Labels: docker

chore(recipe-favorites): updates open api spec with recipe favorite endpoints
  docs/openapi.yaml
Labels: documentation, configuration, kubernetes

chore(recipe-favorites): updated User-Management client to support preference retrieval
  src/main/java/com/recipe_manager/client/usermanagement/UserManagementClient.java
  src/main/java/com/recipe_manager/client/usermanagement/UserManagementFallback.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/DisplayPreferencesDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/NotificationPreferencesDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/PrivacyPreferencesDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/UserPreferenceResponseDto.java
  src/main/java/com/recipe_manager/model/dto/external/usermanagement/UserPreferencesDto.java
  src/main/java/com/recipe_manager/model/enums/ProfileVisibilityEnum.java
  src/main/java/com/recipe_manager/model/enums/ThemeEnum.java
  src/test/unit/java/com/recipe_manager/client/usermanagement/UserManagementClientTest.java
Labels: java, tests, dto

feat(recipe-favorites): implemented endpoints for recipe favorites
  docs/openapi.yaml
  src/main/java/com/recipe_manager/controller/FavoriteController.java
  src/main/java/com/recipe_manager/exception/GlobalExceptionHandler.java
  src/main/java/com/recipe_manager/repository/recipe/RecipeFavoriteRepository.java
  src/main/java/com/recipe_manager/service/FavoriteService.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/AddFavoriteComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/GetUserFavoritesComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/IsFavoritedComponentTest.java
  src/test/component/java/com/recipe_manager/component_tests/favorite_service/RemoveFavoriteComponentTest.java
  src/test/unit/java/com/recipe_manager/controller/FavoriteControllerTest.java
  src/test/unit/java/com/recipe_manager/repository/recipe/RecipeFavoriteRepositoryTest.java
  src/test/unit/java/com/recipe_manager/service/FavoriteServiceTest.java
Labels: documentation, configuration, java, tests, api, service, repository, kubernetes

feat(recipe-collected-notification): implemented recipe collected notification webhook
  src/main/java/com/recipe_manager/client/notificationservice/NotificationServiceClient.java
  src/main/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipeCollectedRequestDto.java
  src/main/java/com/recipe_manager/service/CollectionService.java
  src/main/java/com/recipe_manager/service/external/notificationservice/NotificationService.java
  src/main/java/com/recipe_manager/service/external/notificationservice/NotificationServiceFallback.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/AddRecipeToCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/CreateCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/DeleteCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollaboratorsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionByIdTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/GetCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveCollaboratorTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/RemoveRecipeFromCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/ReorderRecipesTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/SearchCollectionsTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/UpdateCollectionTest.java
  src/test/component/java/com/recipe_manager/component_tests/collection_service/UpdateRecipeOrderTest.java
  src/test/unit/java/com/recipe_manager/client/notificationservice/NotificationServiceClientTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipeCollectedRequestDtoTest.java
  src/test/unit/java/com/recipe_manager/service/CollectionServiceTest.java
  src/test/unit/java/com/recipe_manager/service/external/notificationservice/NotificationServiceFallbackTest.java
  src/test/unit/java/com/recipe_manager/service/external/notificationservice/NotificationServiceTest.java
Labels: java, tests, service, dto

chore: removed unused service field to fix checkstyle finding
  src/main/java/com/recipe_manager/service/IngredientService.java
  src/test/component/java/com/recipe_manager/component_tests/AbstractComponentTest.java
  src/test/unit/java/com/recipe_manager/service/IngredientServiceRevisionsTest.java
  src/test/unit/java/com/recipe_manager/service/IngredientServiceTest.java
Labels: java, tests, service

feat(recipe-rated-notification): implemented recipe rated notification webhook
  src/main/java/com/recipe_manager/client/notificationservice/NotificationServiceClient.java
  src/main/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipeRatedRequestDto.java
  src/main/java/com/recipe_manager/service/ReviewService.java
  src/main/java/com/recipe_manager/service/external/notificationservice/NotificationService.java
  src/main/java/com/recipe_manager/service/external/notificationservice/NotificationServiceFallback.java
  src/test/unit/java/com/recipe_manager/client/notificationservice/NotificationServiceClientTest.java
  src/test/unit/java/com/recipe_manager/model/dto/external/notificationservice/request/RecipeRatedRequestDtoTest.java
  src/test/unit/java/com/recipe_manager/service/ReviewServiceTest.java
  src/test/unit/java/com/recipe_manager/service/external/notificationservice/NotificationServiceFallbackTest.java
  src/test/unit/java/com/recipe_manager/service/external/notificationservice/NotificationServiceTest.java
Labels: java, tests, service, dto

docs(get-my-recipes): Added get-my-recipes endpoint to openapi spec
  docs/openapi.yaml
Labels: documentation, configuration, kubernetes

feat(get-my-recipes): Implemented get-my-recipes endpoint
  src/main/java/com/recipe_manager/controller/UserController.java
  src/main/java/com/recipe_manager/repository/recipe/RecipeRepository.java
  src/main/java/com/recipe_manager/service/RecipeService.java
  src/test/component/java/com/recipe_manager/component_tests/user_service/GetMyRecipesComponentTest.java
  src/test/dependency/java/com/recipe_manager/dependency_tests/UserKarateRunner.java
  src/test/dependency/resources/com/recipe_manager/dependency_tests/feature/user/get-my-recipes.feature
  src/test/performance/resources/get-my-recipes-performance.jmx
  src/test/unit/java/com/recipe_manager/controller/UserControllerTest.java
  src/test/unit/java/com/recipe_manager/service/RecipeServiceTest.java
Labels: java, tests, api, service, repository

fix: fixed oauth2 scope config
  src/main/resources/application.yml
Labels: configuration

fix: fixed oauth2 instropection bugs
  src/main/java/com/recipe_manager/security/JwtAuthenticationFilter.java
  src/main/java/com/recipe_manager/security/JwtService.java
  src/main/java/com/recipe_manager/security/OAuth2Client.java
  src/main/java/com/recipe_manager/security/ServiceAuthenticationFilter.java
  src/test/unit/java/com/recipe_manager/security/JwtAuthenticationFilterTest.java
  src/test/unit/java/com/recipe_manager/security/JwtServiceTest.java
  src/test/unit/java/com/recipe_manager/security/OAuth2ClientTest.java
  src/test/unit/java/com/recipe_manager/security/ServiceAuthenticationFilterTest.java
Labels: java, tests, security

fix: fixed recipe-scraper-service host
  docs/openapi.yaml
  src/main/resources/application.yml
Labels: documentation, configuration, kubernetes

docs(get-trending-recipes): added docs for new get trending recipes endpoint
  .markdownlint.json
  docs/openapi.yaml
  docs/trending-algorithm.md
Labels: documentation, configuration, kubernetes

feat(get-trending-recipes): added query for trending recipes
  src/main/java/com/recipe_manager/repository/recipe/RecipeRepository.java
Labels: java, repository

feat(get-trending-recipes): implemented get trending recipes endpoint
  src/main/java/com/recipe_manager/controller/RecipeManagementController.java
  src/main/java/com/recipe_manager/service/RecipeService.java
  src/test/component/java/com/recipe_manager/component_tests/recipe_service/GetTrendingRecipesComponentTest.java
  src/test/performance/resources/get-trending-recipes-performance.jmx
  src/test/unit/java/com/recipe_manager/controller/RecipeManagementControllerTest.java
  src/test/unit/java/com/recipe_manager/service/RecipeServiceTest.java
Labels: java, tests, api, service

docs(get-trending-recipes): moved get-trending-recipes endpoint to search tag
  docs/openapi.yaml
Labels: documentation, configuration, kubernetes

feat(get-trending-recipes): tweaked trending recipe query to always return hits
  src/main/java/com/recipe_manager/repository/recipe/RecipeRepository.java
Labels: java, repository

docs: updated open api spec to align with service implementation
  docs/openapi.yaml
Labels: documentation, configuration, kubernetes

docs: updated open api spec to align with service implementation (#130)
  docs/openapi.yaml
Labels: documentation, configuration, kubernetes
